.main {
  background-image: url("../../public/background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.titulo {
  color: white;

}
.btnJugar {
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: #060053;
  color: white;
  border: 3px solid rgb(54, 198, 255);
  border-radius: 5px;
  cursor: pointer;
}
